/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/index.html
/public/favicon.ico
/storage/*.key
/storage/*
!/storage/app
!/storage/framework
!/storage/logs
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
